<div class="main_component">
  <mat-card>
    <h1 [ngStyle]="{'color': 'black', 'font-size': 30 + 'px'}" >Egy Nagyon Szuper Reakció Játék</h1>
    <p><br><br><br>
      Ezen az oldalon a reakció időd versenyeztetheted másokkal<br>
      A reakcióidő az időtartam, amely alatt egy rendszer vagy
      folyamat reagál a külső hatásokra vagy bemenetekre.
      Az emberi reakcióidő általában 100-300 milliszekundum között van,
      de a rendszerek gyors reagálása javítja a felhasználói élményt és hatékonyságot.
    </p>
  </mat-card>
</div>
